{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- ===== Meta ===== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

    <!-- ===== Favicon ===== -->
    <link rel="icon" type="image/x-icon" href="assets/imgs/favicon.png">

    <!-- ===== Title ===== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Moses, an independent photographer based in Germany, who believes every picture tells a story.">
    <meta name="robots" content="all">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Moses.cam – independent photographer based in Germany">
    <meta property="og:description" content="Moses, an independent photographer based in Germany, i believe every picture tells a story.">
    <meta property="og:url" content="https://moses.cam">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static "favicon_io/favicon-32x32.png" %}">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="{% static "assets/imgs/rsz_11photo_2024-08-10_13-09-04-transformed_1.jpg" %}">
    <meta name="twitter:title" content="Moses.cam – Independent Photography in Germany">
    <meta name="twitter:description" content="Explore Moses's photography portfolio, where every frame tells a story. Visit moses.cam for artistic visual experiences.">
    <meta name="twitter:image" content="{% static "favicon_io/favicon-32x32.png" %}">

    <!-- Additional Meta Tags -->
    <meta name="identifier-url" content="https://moses.cam">
    <meta name="revisit-after" content="7 days">

<!-- Alternate Language Link -->
<link rel="alternate" href="https://moses.cam" hreflang="en">
    <base href="/">
    <title>Moses — Independent Photographer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
    <link rel="shortcut icon" href="{% static "favicon_io/favicon-32x32.png" %}">
    <meta name="msapplication-TileColor" content="#161310">
    <meta name="theme-color" content="#ecebeb">

    <!-- ===== LineAwesome ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.css' %}">

         <!-- ===== Swiper8 ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper8.min.css' %}">

    <!-- ===== Fonts ===== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  
    <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&amp;family=Inter+Tight:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">

    <!-- ===== Stylesheet ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<style>
    @media (max-width: 809px) {
        .popup-menu ul li {
            overflow: hidden;
            padding-bottom: 20px;
        }
        .popup-menu-close-btn{
            margin-top: 35px;
        }
        #progress-bar1 {
            height: 3px;
          }

        .gtranslate_wrapper{
            padding-top: 13px;
        }
        .gt_switcher {
            width: 120px !important;
            
        }
       
    }
    @media (min-width: 809px) {
        #disp-img-none{
            display: none;
        }
        .disp-contact{
            display: none !important;
        }
    }
    #progress-bar-container1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #000;
        z-index: 999999;
      }
      
      #progress-bar1 {
        background-color: #FFF;
        height: 1.5px;
        transition: width 0.5s ease-in-out;
      }
      .gt_switcher a{
        background: #ecebeb !important;
    }
      
</style>

<body>
    <div id="progress-bar-container1">
        <div id="progress-bar1" style="width: 0%;"></div>
      </div>

    <div class="custom-cursor"></div>



    <!-- ===== Loader Start ===== -->
    <div class="preloader-wrap">
        <div class="loader">
            <img src="{% static 'assets/imgs/ezgif.com-optimize.gif' %}" alt="loader">
            <span style="color: #fff;"></span>
        </div>
        
    </div> 
    <!-- ===== Loader End ===== -->


    <!-- ===== Main Start ===== -->
    <main class="bronx-main home-page">

        <!-- ===== Popup Menu Start ===== -->
        <div class="popup-menu-wrap">
            <div class="popup-menu-header">
                <div class="local-temperature">
                    {% comment %} <a href="index.html"><a href="index.html"><span>Local/</span><span id="temperature"></span></a></a> {% endcomment %}
                    <a href="/"><a href="/"><span id="realtime" translate="no">00:00</span> / <span id="temperature" translate="no">00:00</span></a></a>

                </div>

                <div class="popup-menu-close-btn" >
                    <div class="icon">
                        <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" color="rgba(214, 214, 215, 0.7)">
                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>

                <div class="right text-right">
                    <a href="{% url "contact" %}"  class="theme-btn">Contact</a>
                </div>
            </div>
            <div class="popup-menu">
                <nav>
                    <ul>
                        <li class="active">
                            <a href="/" >
                                <span class="count">(1)</span>
                                <span>Home</span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "categories" %}" >
                                <span class="count">(2)</span>
                                <span>Categories</span>
                                <span>Categories</span>
                            </a>
                        </li>
                     
                        <li>
                            <a href="{% url "pricing" %}" >
                                <span class="count">(3)</span>
                                <span>Pricing</span>
                                <span>Pricing</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "photos" %}" >
                                <span class="count">(4)</span>
                                <span>GALLERY</span>
                                <span>GALLERY</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "about" %}" >
                                <span class="count">(5)</span>
                                <span>About</span>
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "contact" %}" class="disp-contact" >
                                <span class="count">(6)</span>
                                <span>Contact</span>
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="popup-menu-footer">
                <div class="copyright">
                    <p>&copy;2024 ALL RIGHTS RESERVED</p>

                    <ul class="social-links">
                        <li>
                            <a href="https://www.instagram.com/mcn_photography_?igsh=bjBuaGVoZzNtdWds&utm_source=qr" target="_blank" translate="no">Instagram <svg xmlns="http://www.w3.org/2000/svg"
                                    focusable="false" viewBox="0 0 24 24" color="rgb(29, 29, 31)">
                                    <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z">
                                    </path>
                                </svg></a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        {% block content %}
        
        {% endblock content %}
        

        <!-- ===== Experience Popup Start ===== -->
        <div class="experience-popup">
            <div class="experience-popup-content-wrap">
                
                <div class="close-experience-popup-btn">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" color="rgba(214, 214, 215, 0.7)">
                        <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>

                <div class="experience-popup-content">
                    <div class="experience-popup-header">
                        <h3>PHOTOGRAHY</h3>
                    </div>
                    <p>I'm a photographer who loves the entire process<br> of creating images. </p>
                    <div class="experience-popup-features">
                        <h4>CONTACT ME </h4>
                        <div class="experience-popup-feature-lists">
                            <div class="experience-popup-feature">
                             Contact me to discuss how we can collaborate together. I would love to hear from you! 
                            </div>
                        
                        </div>
                    </div>
                    <div class="experience-popup-btns">
                        <a href="{% url "contact" %}" class="theme-btn2">Get started</a>
                        <a href="mailto:Moschimereze@gmail.com" class="theme-btn3">E-Mail</a>
                    </div>
                </div>
                <div class="experience-popup-img">
                    <img src="http://res.cloudinary.com/dnpvjnywv/image/upload/v1724805636/category-images/dp46rqnstaldedkrqv2q.jpg" alt="experience">
                </div>
            </div>
        </div>
        <!-- ===== Experience Popup End ===== -->

    </main>
    <!-- ===== Main End ===== -->




    <!-- ===== Scripts ===== -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const images = document.querySelectorAll("img");
        
            // Function to handle image loading errors
            images.forEach(function (image) {
                image.onerror = function () {
                    image.dataset.failed = true;  // Mark the image as failed
                };
            });
        
            // Check if IntersectionObserver is supported
            if ("IntersectionObserver" in window) {
                let observer = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting && entry.target.dataset.failed) {
                            // Reload the image if it previously failed to load
                            let img = entry.target;
                            img.src = img.dataset.src;  // Re-attempt loading
                            img.dataset.failed = false; // Reset the failed status
                        }
                    });
                });
        
                // Observe each image
                images.forEach(function (image) {
                    observer.observe(image);
                });
            }
        });
        
        
    </script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/htmx.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollToPlugin.min.js' %}"></script>
    {% block reviewjs %}
    <script src="{% static 'assets/js/ajaxform.js' %}"></script>
    {% endblock %}
    <script src="{% static 'assets/js/ScrollSmoother.min.js' %}"></script>
    <script src="{% static 'assets/js/SplitText.min.js' %}"></script>
    <script src="{% static 'assets/js/jarallax.js' %}"></script>
    <script src="{% static 'assets/js/jarallax-element.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/themescroll.js' %}"></script>
    <script src="{% static 'assets/js/swiper8-bundle.min.js' %}"></script>

    <script>window.gtranslateSettings = {"default_language":"en","languages":["en","de"],"wrapper_selector":".gtranslate_wrapper","flag_size":16,"switcher_horizontal_position":"inline"}</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/dwf.js" defer></script>
    <script>

        
        var swiper = new Swiper(".mySwiper", {
          effect: "cards",
          grabCursor: true,
        });
    </script>
</body>



</html>