{% extends "partials/base.html" %}
{% load static %}
{% block content %}
        <!-- ===== Popup Menu End ===== -->

        <!-- ===== Smooth Scroll Start ===== -->
        <div id="smooth-wrapper">
            <div id="smooth-content">


                <!-- ===== Hero Section Start ===== -->
                <section class="hero-sec" style="height: fit-content !important;">

                    <!-- ===== Header Start ===== -->
                    <header class="header-wrap scroll-animation" data-animation="slide_up">
                        <div class="custom-row">

                            <!-- ===== Local Time ===== -->
                            <div class="header-local-time-box">
                                <a href="/"><span>HOME/</span></a>
                                <span id="realtime" translate="no">00:00</span>
                                
                            </div>

                            <!-- ===== Humberg Menu ===== -->
                            <div class="header-middle">
                                <div class="humberg-menu">
                                    <a href="{% url "contact" %}" >
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="30px" height="30px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                            <path d="M9 9L13.5 12L18 9" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3 13.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M5 7.5V7C5 5.89543 5.89543 5 7 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H7C5.89543 19 5 18.1046 5 17V16.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </a>

                                </div>
                            </div>

                            <!-- ===== Header Contact Button ===== -->
                            <div class="header-right">
                                <a href="#" class="theme-btn">navigate</a>
                            </div>

                        </div>
                    </header>
                    <!-- ===== Header End ===== -->



                    <!-- ===== Hero Footer Start ===== -->
                    <div class="hero-footer-wrap scroll-from-bottom pt-3" id="hero-footer-wrap">
                        <p>BASED IN GERMANY</p>
                        <div class="hero-footer-right">
                            <a href="#" class="link-with-line">INDEPENDENT PHOTOGRAPHER</a>
                            {% comment %} <p>INDEPENDENT PHOTOGRAPHER</p> {% endcomment %}
                        </div>
                    </div>
                    <!-- ===== Hero Footer End ===== -->

                </section>
                <!-- ===== Hero Section End ===== -->

                <!-- ===== Full Image Start ===== -->
                <div class="full-image-sec pt-30" >
                    <div class="full-image-box">
                        <img class="scaleDown" src="{% static "assets/imgs/rsz_11photo_2024-08-10_13-09-04-transformed_1.jpg" %}" alt="about">
                        {% comment %} <img class="scaleDown" src="{% static 'assets/imgs/hero.jpg' %}" alt="about"> {% endcomment %}
                    </div>
                </div>
                <!-- ===== Full Image End ===== -->

                <!-- ===== Video Start ===== -->
                <!-- <div class="video-sec">
                    <video src="{% static './assets/video/video.mp4' %}" loop="true" muted="true" autoplay playsinline=""></video>
                </div> -->
                <!-- ===== Video End ===== -->


                <!-- ===== About Start ===== -->
                <section class="about-sec">
                    <div class="section-header2">
                        <h3 class="title sticky-statement2 scroll-animation" data-animation="slide_and_scale">
                            <span class="transform-anim"><span class="timeline-anim scroll-animation" data-animation="slide_down">MORE ABOUT</span></span>
                            <span class="transform-anim"><span class="timeline-anim scroll-animation" data-animation="slide_down">MECHEALE©</span></span>
                        </h3>
                    </div>

                    <div class="about-bottom-content-wrap">
                        <div class="img-box">
                            <div class="img-box-inner">
                                <img data-jarallax-element="-20 0" src="{% static 'assets/imgs/photo_2024-08-10_13-09-00.jpg' %}" alt="About">
                            </div>
                        </div>
                        <div class="about-bottom-content">
                            <div>
                                <h4>I'M MOSES, AN INDEPENDENT PHOTOGRAPHER BASED IN GERMANY. <br>PHOTOGRAPHY IS MY PASSION, AND I AM DEDICATED TO CAPTURING<br> THE BEAUTY OF LIFE'S MOST PRECIOUS MOMENTS.</h4>
                            </div>
                            <p>I'm on the cutting edge of no-code tools that allow me to bring my creative visions to
                                life. Though my methods may be unconventional, my dedication to the craft is
                                unparalleled. I thrive on finding <i>"unexpected solutions"</i> and believe that with
                                the right perspective, design can elevate the human experience.</p>
                    
                            
                        </div>
                    </div>
                </section>
                <!-- ===== About End ===== -->


                <!-- ===== Experience Start ===== -->
                <section class="experience-sec">
                    <div class="section-header">
                        <div class="left">
                            <h3>
                                <span><span class="timeline-anim scroll-animation" data-animation="slide_down">MY DAY</span></span>
                                
                            </h3>
                        </div>
                    </div>


                </section>


                <!-- ===== Full Image Start ===== -->
                <div class="video-sec">
                    <video src="{% static 'assets/imgs/dark-mode/video-2.mp4' %}" loop="true" muted="true" autoplay playsinline=""></video>
                </div> 
                <!-- ===== Full Image End ===== -->


                <!-- ===== Footer Start ===== -->
                <footer class="footer-area">
                    <div class="footer-big-text">
                        <span class="timeline-anim scroll-animation" data-animation="slide_down">MOSES CHIMEREZE</span>
                    </div>

                    <div class="copyright">
                        <p>&copy;2024 MOSES.CAM</p>
                        <div class="right">
                            <a href="#" id="back-to-top">GO BACK TO TOP</a>
                        </div>
                    </div>
                </footer>
                <!-- ===== Footer End ===== -->

            </div>
        </div>
        <!-- ===== Smooth Scroll End ===== -->
{% endblock content %}