{% extends "partials/base.html" %}
{% load static %}
{% block content %}
        <!-- ===== Popup Menu End ===== -->

        <!-- ===== Smooth Scroll Start ===== -->
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- ===== Hero Section Start ===== -->
                <section class="hero-sec hero-sec2">

                    <!-- ===== Header Start ===== -->
                    <header class="header-wrap scroll-animation" data-animation="slide_up">
                        <div class="custom-row">

                            <!-- ===== Local Time ===== -->
                            <div class="header-local-time-box">
                                <a href="/"><span>Local/</span></a>
                                <span id="realtime">00:00</span>
                            </div>

                            <div class="header-middle">
                                <div class="humberg-menu">
                                    <a href="{% url "contact" %}" >
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="30px" height="30px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                            <path d="M9 9L13.5 12L18 9" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3 13.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M5 7.5V7C5 5.89543 5.89543 5 7 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H7C5.89543 19 5 18.1046 5 17V16.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </a>

                                </div>
                            </div>

                            <!-- ===== Header Contact Button ===== -->
                            <div class="header-right">
                                <a href="#" class="theme-btn">navigate</a>
                            </div>

                        </div>
                    </header>
                    <!-- ===== Header End ===== -->


                    <!-- ===== Hero Section Content Start ===== -->
                    <div class="hero-sec-content">
                        <span class="available-status">
                            (2012 - 2024)
                        </span>

                        <h1>
                            <span><span class="timeline-anim scroll-animation" data-animation="slide_down">GALLERY</span></span>
                            <span><span class="timeline-anim scroll-animation" data-animation="slide_down">ENDEAVORS</span></span>
                        </h1>
                    </div>
                    <!-- ===== Hero Section Content End ===== -->

                </section>
                <!-- ===== Hero Section End ===== -->


                <!-- ===== Photography Start ===== -->
                <div class="photography-sec">
                    <div class="photography-col">
                        <div class="photography-box">
                            <div class="photography-box-inner">
                                <img class="scaleDown" src="assets/imgs/dark-mode/photography-1.jpg" alt="photography">
                            </div>
                        </div>
                    </div>
                    <div class="photography-col photography-col2">
                        <div class="photography-box">
                            <div class="photography-box-inner">
                                <img class="scaleDown" src="assets/imgs/dark-mode/photography-2.jpg" alt="photography">
                            </div>
                        </div>
                        <div class="photography-box">
                            <img src="assets/imgs/dark-mode/photography-3.jpg" alt="photography">
                        </div>
                    </div>
                    <div class="photography-col photography-col2">
                        <div class="photography-inner-col">
                            <div class="photography-box">
                                <img src="assets/imgs/dark-mode/photography-4.jpg" alt="photography">
                            </div>
                            <div class="photography-box">
                                <video src="assets/imgs/dark-mode/video-2.mp4" loop="true" muted="true" autoplay playsinline=""></video>
                            </div>
                        </div>
                        <div class="photography-box">
                            <div class="photography-box-inner">
                                <img class="scaleDown" src="assets/imgs/dark-mode/photography-5.jpg" alt="photography">
                            </div>
                        </div>
                    </div>
                    <div class="photography-col">
                        <div class="photography-box">
                            <img src="assets/imgs/dark-mode/photography-6.png" alt="photography">
                        </div>
                    </div>
                    <div class="photography-col photography-col2">
                        <div class="photography-box">
                            <div class="photography-box-inner">
                                <img class="scaleDown" src="assets/imgs/dark-mode/photography-2.jpg" alt="photography">
                            </div>
                        </div>
                        <div class="photography-inner-col">
                            <div class="photography-box">
                                <img src="assets/imgs/dark-mode/photography-8.jpg" alt="photography">
                            </div>
                            <div class="photography-box">
                                <img src="assets/imgs/dark-mode/photography-9.jpeg" alt="photography">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ===== Photography End ===== -->




                <!-- ===== Footer Start ===== -->
                <footer class="footer-area">
                    <div class="footer-big-text">
                        <span class="timeline-anim scroll-animation" data-animation="slide_down">MOSES CHIMEREZE</span>
                    </div>

                    <div class="copyright">
                        <p>&copy;2024 MOSES.CAM</p>
                        <div class="right">
                            <a href="#" id="back-to-top">GO BACK TO TOP</a>
                        </div>
                    </div>
                </footer>
                <!-- ===== Footer End ===== -->


            </div>
        </div>
        <!-- ===== Smooth Scroll End ===== -->

{% endblock content %}