{% extends "partials/base.html" %}
{% load static %}
{% block content %}
        <!-- ===== Popup Menu End ===== -->

        <!-- ===== Smooth Scroll Start ===== -->
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- ===== Hero Section Start ===== -->
                <section class="hero-sec hero-sec2">

                    <!-- ===== Header Start ===== -->
                    <header class="header-wrap scroll-animation" data-animation="slide_up">
                        <div class="custom-row">

                            <!-- ===== Local Time ===== -->
                            <div class="header-local-time-box">
                                <a href="/"><span>Local/</span></a>
                                <span id="realtime">00:00</span>
                            </div>

                            <div class="header-middle">
                                <div class="humberg-menu">
                                    <a href="{% url "contact" %}" >
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="30px" height="30px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                            <path d="M9 9L13.5 12L18 9" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3 13.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.5H5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M5 7.5V7C5 5.89543 5.89543 5 7 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H7C5.89543 19 5 18.1046 5 17V16.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </a>

                                </div>
                            </div>

                            <!-- ===== Header Contact Button ===== -->
                            <div class="header-right">
                                <a href="#" class="theme-btn">navigate</a>
                            </div>
                        </div>
                    </header>
                    <!-- ===== Header End ===== -->


                    <!-- ===== Hero Section Content Start ===== -->
                    <div class="hero-sec-content">
                        <span class="available-status">
                            (2021 - 2024)
                        </span>

                        <h1>
                            <span><span class="timeline-anim scroll-animation" data-animation="slide_down">WORK</span></span>
                        </h1>
                    </div>
                    <!-- ===== Hero Section Content End ===== -->

                </section>
                <!-- ===== Hero Section End ===== -->

                <!-- ===== Featured Work Start ===== -->
                <div class="featured-work-sec mt-30">
                    <div class="featured-work-lists">

                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-1.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-1.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Hella magic store</p>
                                    <p class="subtitle">Business</p>
                                </div>
                                <div class="right">
                                    <span class="date">2024</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-2.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-2.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Raven Folio</p>
                                    <p class="subtitle">Portfolio</p>
                                </div>
                                <div class="right">
                                    <span class="date">2023</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-4.jpeg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Elementor</p>
                                    <p class="subtitle">Themes</p>
                                </div>
                                <div class="right">
                                    <span class="date">2022</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-4.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-7.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">WELLBEING</p>
                                    <p class="subtitle">Marketplace</p>
                                </div>
                                <div class="right">
                                    <span class="date">2023</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-5.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-3.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Xiong wall</p>
                                    <p class="subtitle">Marketplace</p>
                                </div>
                                <div class="right">
                                    <span class="date">2023</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-6.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-5.jpeg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Louis Phillips</p>
                                    <p class="subtitle">Portfolio</p>
                                </div>
                                <div class="right">
                                    <span class="date">2022</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-7.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-8.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Canvas Barn</p>
                                    <p class="subtitle">Portfolio</p>
                                </div>
                                <div class="right">
                                    <span class="date">2024</span>
                                </div>
                            </div>
                        </div>
                        <!-- Featured Cart -->
                        <div class="featured-card">
                            <a class="link-overlay" href="work-detail-8.html"></a>
                            <div class="img-box">
                                <img src="{% static 'assets/imgs/work-6.jpg' %}" alt="Work">
                            </div>
                            <div class="content">
                                <div class="left">
                                    <p class="title">Panda Do</p>
                                    <p class="subtitle">Branding</p>
                                </div>
                                <div class="right">
                                    <span class="date">2024</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ===== Featured Work End ===== -->

                <!-- ===== Footer Start ===== -->
                <footer class="footer-area">
                    <div class="footer-big-text">
                        <span class="timeline-anim scroll-animation" data-animation="slide_down">MOSES CHIMEREZE</span>
                    </div>

                    <div class="copyright">
                        <p>&copy;2024 MOSES.CAM</p>
                        <div class="right">
                            <a href="#" id="back-to-top">GO BACK TO TOP</a>
                        </div>
                    </div>
                </footer>
                <!-- ===== Footer End ===== -->


            </div>
        </div>
        <!-- ===== Smooth Scroll End ===== -->
{% endblock content %}